<article class="post">
    <header>
        <h2 class="post_title">
            Lorem ipsum dolor
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sit at obcaecati odio, sunt modi exercitationem, eum, quas accusantium 
        iure molestias voluptatibus nulla. Doloremque quod natus facilis 
        cupiditate quasi ipsum debitis. Beatae quis cumque ipsa repellat 
        distinctio amet nobis voluptates! Alias illum, harum laudantium fugiat
        numquam nostrum voluptate rerum dolores voluptatum.
    </div>
</article>